<!DOCTYPE html>
<html>
  <head>
    <title>Course Registration</title>
  </head>
  <body>
    <h1>Student</h1>

    <div class="student">
      <h3>Name: <%= @student.name %></h3>
      <h4>Grade: <%= @student.grade %></h4>
    </div><br>

    <h1>Courses</h1>
    <div class="course">
      <h3>Name: <%= @course.name %></h3>
      <h4>Topic: <%= @course.grade %></h4>
    </div><br>



  </body>
</html>
